hjson
tabulate
pyyaml
mako
jsonref
jsonschema
flatdict
json5
bitstring
humanize
junit_xml
Mako
matplotlib
numpy
ordereddict
pandas
pexpect
prettytable
psutil
pyelftools
pyflexfloat
pytest
PyYAML
scikit_learn
setuptools
termcolor
torch
peakrdl
peakrdl-markdown
peakrdl-rawheader@git+https://github.com/colluca/PeakRDL-rawheader.git@7b8dbc9ad5854dc1cdaf36d4ea024c29ffb00a4c
